<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64844799014-8aa4paettd24n60h2q9iim5k14slureg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64844799014-8aa4paettd24n60h2q9iim5k14slureg</string>
	<key>API_KEY</key>
	<string>AIzaSyACPa59xPqb8KL2MYJXDN_GP0vM7JtCCc8</string>
	<key>GCM_SENDER_ID</key>
	<string>64844799014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication</string>
	<key>PROJECT_ID</key>
	<string>chat-fd739</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-fd739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64844799014:ios:834e67296461f1a20a1ae7</string>
</dict>
</plist>